<html>
<body>
<h1>Control</h1>
<br>
<div>
	<h2>LIGHT</h2>
	<h2> R : <input type="range" min="0" max="255" value="0"  oninput="R(this.value)" /> <span id="R">0</span>
	<h2> G : <input type="range" min="0" max="255" value="0"  oninput="G(this.value)" /> <span id="G">0</span>
	<h2> B : <input type="range" min="0" max="255" value="0"  oninput="B(this.value)" /> <span id="B">0</span>
</div>


<script src="{{ url_for('static', filename='socket.io-1.2.0.js') }}"></script>
<script type="text/javascript" charset="utf-8">

var socket = io();
function R(newValue)
{
	document.getElementById("R").innerHTML=newValue;
	socket.emit('R',  newValue);
}
function G(newValue)
{
	document.getElementById("G").innerHTML=newValue;
	socket.emit('G',  newValue);
}
function B(newValue)
{
	document.getElementById("B").innerHTML=newValue;
	socket.emit('B',  newValue);
}
</script>
</body>
</html>